name: Mark Job as Applied

on:
  repository_dispatch:
    types: [mark_applied]

jobs:
  update-db:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Update Database
          run: |
            sqlite3 docs/job_aggregator.db "UPDATE jobs SET applied = 1 WHERE external_id = '${{ github.event.client_payload.id }}';"

        - name: Commit and Push
          run: |
            git config --local user.email "action@github.com"
            git config --local user.name "Github Action"
            git add -f docs/job_aggregator.db
            git commit -m "Marked job {{ github.event.client_payload.id }} as applied" || echo "No changes"
            git push